

div
{
	font-size:20;
	font-weight:bold;

	text-align:center;
	vertical-align:middle;

	margin-left: auto;
  	margin-right: auto;
}


#finish_div, #stage_number_div, #data_input_div, #key_input_div, #instructions
{
	width:500px;
	margin-bottom:10px;

	border:solid;

	padding:5px;
}

#stage_number_div
{
	font-size:35px;
	width:600px;
}

#instructions
{
	width:800px;
	border:none;
	font-size:25px;
}

#finish_div, #submit_button, #key_button, #key_get_button, #key_stage_button
{
	background-color: green;
	width:450px;

	cursor:pointer;
}


