{% extends 'dashboard.html' %}

{% block title %}Dashboard{% endblock %}

{% block head %}
  {% load staticfiles %}
  <link href="{% static 'css/investigator/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block nav %}
<ul class="nav nav-sidebar">
  <li class="active"><a href="#">Overview</a></li>
  <li><a href="{% url 'studies:investigator:details' study_id %}">Study Details</a></li>
  <li><a href="#">Export Data</a></li>
</ul>
{% endblock %}

{% block page-title %}Dashboard: {{study.name}}{% endblock %}

{% block page-content %}

<!-- ANALYTIC VISUALIZATIONS -->
<!-- COMMENTED OUT FOR DEMO:
<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="{% static 'img/blue-stat.png' %}" class="img-responsive">
    <h4>All</h4>
    <span class="text-muted">InTouch usage</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="{% static 'img/green-stat.png' %}" class="img-responsive">
    <h4>Kennedy</h4>
    <span class="text-muted">InTouch usage</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="{% static 'img/blue-stat.png' %}" class="img-responsive">
    <h4>Kensington</h4>
    <span class="text-muted">InTouch usage</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="{% static 'img/green-stat.png' %}" class="img-responsive">
    <h4>Leaside</h4>
    <span class="text-muted">InTouch usage</span>
  </div>
</div-->

<!-- USER OVERVIEWS -->
{% for group in groups %}
<h2 class="sub-header">
  {{group.name}}
  <button type="button" class="btn btn-default" style="margin-right:10px; float:right">
    <span class="glyphicon glyphicon-envelope"></span>
    Email Group
  </button>
</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Current Stage</th>
        <th>Progress</th>
      </tr>
    </thead>
    <tbody>
      {% for participant in group.users.all %}
      <tr>
        <td>
          <a href="{% url 'studies:investigator:user' study_id participant.id %}">
            {{participant.username|capfirst}}
          </a>
        </td>
        <td>{{participant.age}}</td>
        <td>{{gender_choices|get_item:participant.gender}}</td>
        <td>{{stage_names|get_item:participant.id}}</td>
        <td>
          <div class="progress" style="margin-bottom:0px">
            <div  class="progress-bar progress-bar-success"
                  role="progressbar"
                  aria-valuenow="{{ progress|get_item:participant.id}}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: {{ progress|get_item:participant.id}}%">
                  {{ progress|get_item:participant.id}}%
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
{% endfor %}

{% endblock %}
