{% extends 'dashboard.html' %}

{% block title %}Details{% endblock %}

{% block head %}
  {% load staticfiles %}
  <link href="{% static 'css/investigator/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block nav %}
<ul class="nav nav-sidebar">
  <li><a href="{% url 'studies:investigator:study' study_id %}">Overview</a></li>
  <li class="active"><a href="#">Study Details</a></li>
  <li><a href="{% url 'studies:investigator:email_all' study_id %}">Email participants</a></li>
  <li><a href="{% url 'studies:investigator:view_data' study_id %}">View Data</a></li>
  <li><a href="{% url 'studies:investigator:export' study_id %}">Export Data</a></li>
</ul>
{% endblock %}

{% block page-title %}{{study.name}}: Details{% endblock %}

{% block page-content %}

<form action="{% url 'studies:investigator:details' study_id %}" method="post">
	{% csrf_token %}

	<label for="{{ form.name.id_for_label }}"><h2>Name</h2></label>
    <p style="font-size:17px">{{ form.name }}</p>
    <br>

    <label for="{{ form.description.id_for_label }}"><h2>Description</h2></label>
    <p style="font-size:17px">{{ form.description }}</p>
    <br>

    <label for="{{ form.consent.id_for_label }}"><h2>Consent</h2></label>
    <p style="font-size:17px">{{ form.consent }}</p>
    <br>

    <label for="{{ form.instructions.id_for_label }}"><h2>Instructions</h2></label>
    <p style="font-size:17px">{{ form.instructions }}</p>
    <br>

    <label for="{{ form.eligibility.id_for_label }}"><h2>Eligibility</h2></label>
    <p style="font-size:17px">{{ form.eligibility }}</p>
    <br>

    <label for="{{ form.reward.id_for_label }}"><h2>Reward</h2></label>
    <p style="font-size:17px">{{ form.reward }}</p>
    <br>

	<input type="submit" value="Save" />
</form>

{% endblock %}
