{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
    {% load staticfiles %}
    <link href="{% static 'css/registration/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">

    {% if errors %}
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> {{message}}
        </div>
    {% endif %}

    <form class="form-signin" role="form" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <h2 class="form-signin-heading">Sign in to Tangra!</h2>
        <input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        <!--label class="checkbox">
            <input type="checkbox" value="remember-me">Remember me
        </label-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>

{% endblock %}
