{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<!-- javascript includes -->
<script src="{% static "js/video_conferencing/ajax_requests.js" %}" type="text/javascript" charset="utf-8"></script>

<!-- CSS includes -->
<link href="{% static "css/video_conferencing.css" %}" type="text/css" rel="stylesheet" >
<link href="{% static "css/investigator/user_table.css" %}" type="text/css" rel="stylesheet" >
<link href="{% static "css/participant/study.css" %}" type="text/css" rel="stylesheet" >


<div class="hidden_data" id="ajax_response">HIDDEN!</div>


<h1>{{ study.name }}</h1>


<div id="supertabs">
	<ul>
		<li class="tablink on" id="tab1">Study Progress</li>
		<li class="tablink" id="tab2">About Study</li>
	</ul>
</div>


<div id="tab1box" class="tab" >

	<!-- stage_navigator:
			Display subject stage and allow for selection of future or past stages
			with CLEAR messages telling the user what's going on.
	-->
	<div id="stages_nav" class="clearfix" num="{{ stages.count }}">
		<ul>
			{% for cur_stage in stages %} 
				{% if cur_stage.status > 1	 %}
					<!-- Future stage -->
					<li class="stage not_active future">
				{% elif cur_stage.status == 1 %}
					<!-- Active stage -->
					<li class="stage active present">
				{% else %}
					<!-- Past stage -->
					<li class="stage not_active past">
				{% endif %}
						<a href="" id="stage_box_{{forloop.counter}}" class="stage_box">
							{{ cur_stage.group_stage.stage.name }}
							<!-- TODO: Check if the same stage is next for looping?
							{% if cur_stage.stage_times_total > 1 %}
								({{ cur_stage.stage_times_completed }} / {{ cur_stage.stage_times_total }}) 
							{% elif cur_stage.stage_times_total < 1 %}
								(&#8734;)
							{% endif %} -->
						</a>
					</li>
			{% endfor%}
		</ul>
	</div>

	
	<div id="stage_info">
		{% for cur_stage in stages %}  
		    <div id="stage_{{forloop.counter}}" class="stage_panel"
		     {% ifnotequal cur_stage.status 1 %}style="display:none;"{% endifnotequal %}>
		    	<div class="stage_header">
					<table>
						<tr>
							<td>
		       					<h2 class="first">Description</h2>
		        				{{cur_stage.group_stage.stage.instructions|safe}}

		        				<h2 class="stage_status">
		        					{% ifequal cur_stage.status 1 %}
										{% if cur_stage.is_overdue %}
						    				<span class="red">Session due: {{cur_stage.get_deadline|date:"d M Y"}}</span>
					    				{% else %}
						    				Session due: {{cur_stage.get_deadline|date:"d M Y"}}
					    				{% endif %}
									{% else %}
										{% ifequal cur_stage.status 2 %}
											Future stage: no action required.
										{% else %}
											<span class="green">Stage complete!</span>
										{% endifequal %}
									{% endifequal %}
		        				</h2>
		      				</td>
		      				<td width="40%">
								<div style="height:100px;padding:20px 0 0 0;">
									{%ifequal cur_stage.status 1 %}
										{%if cur_stage.is_overdue %}
											<a href="{{cur_stage.group_stage.stage.url}}" class="actbutton red">Click Here to Start the Session</a>
										{%else %}
											<a href="{{cur_stage.group_stage.stage.url}}" class="actbutton green">Click Here to Start the Session</a>
										{% endif %}
									{% endifequal%}
								</div>
							</td>
						</tr>
					</table>
		    	</div>
		    </div>
	  	{% endfor %}
	</div>
</div>


<div id="tab2box" class="tab" style="display:none">
	<div id="study_details">
		<h2><a href="" onclick="return toggle_detail('d1',$(this));" class="right">Description</a></h2>
	  	<div id="d1" style="display:none;">{{study.description|safe}}</div>
		<h2><a href=""  onclick="return toggle_detail('d2',$(this));false;"  class="right">Informed Consent</a></h2>
		<div id="d2"  style="display:none;">{{study.consent|safe}}</div>
		<h2><a href="" onclick="return toggle_detail('d3',$(this));"  class="right">Instructions</a></h2>
		<div id="d3"  style="display:none;">{{study.instructions|safe}}</div>
		<h2><a href="" onclick="return toggle_detail('d4',$(this));"  class="right">Eligibility</a></h2>
		<div id="d4" style="display:none;">{{study.eligibility|safe}}</div>
		<h2><a href="" onclick="return toggle_detail('d5',$(this));"  class="right">Reward</a></h2>
		<div id="d5" style="display:none;">{{study.reward|safe}}</div>
	</div>
</div>

{% endblock %}
