{% extends 'base.html' %}

{% block title %}Study{% endblock %}

{% block head %}
	{% load staticfiles %}
	<link href="{% static 'css/participant/offcanvas.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">

	<h1 style="font-size:50px">{{cur_stage.group_stage.stage.study.name}}</h1>

	<br>
	
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<p class="navbar-text hidden-sm hidden-md hidden-lg" style="color:white; font-size:large; margin-left:20px">Stages</p>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
				{% for stage in stages %}
					{% if stage.status > 1 %}
					<!-- Future stage -->
					<li {% if stage.id = cur_stage.id %} class="active" {% endif %} >
						<a href="{% url 'studies:stage' study.id stage.group_stage.order %}" style="color:#00FFFF">
							<span class="glyphicon glyphicon-minus-sign" style="dipslay:inline-block; "></span>
							<span> <!--class="hidden-sm hidden-md hidden-lg"-->{{ stage.group_stage.stage.name }}</span>
						</a>
					</li>
					{% elif stage.status == 1 %}
					<!-- Active stage -->
					<li {% if stage.id = cur_stage.id %} class="active" {% endif %} >
						<a href="{% url 'studies:stage' study.id stage.group_stage.order %}" style="color:#00FF00">
							<span class="glyphicon glyphicon-time" style="dipslay:inline-block;" ></span>
							<span>{{ stage.group_stage.stage.name }}</span>
						</a>
					</li>
					{% else %}
					<!-- Past stage -->
					<li {% if stage.id = cur_stage.id %} class="active" {% endif %}>
						<a href="{% url 'studies:stage' study.id stage.group_stage.order %}" style="color:grey">
							<span class="glyphicon glyphicon-ok" style="dipslay:inline-block"></span>
							<span> <!--class="hidden-sm hidden-md hidden-lg"-->{{ stage.group_stage.stage.name }}</span>
						</a>
					</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
	</nav>

	<br>
	
	

	{% if cur_stage.is_overdue %}
		<div class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-warning-sign"></span>
			<b>Attention!</b> You are overdue completing this stage!
		</div>
	{% endif %}


	<div class="jumbotron" style="padding:30px;">

		<div class="row row-offcanvas row-offcanvas-right">

			<div class="col-xs-12 col-sm-8" style="border-right: solid #333333;">
				<h1 style="font-size:45px">{{cur_stage.group_stage.stage.name}}</h1>
				<p>{{cur_stage.group_stage.stage.description|safe}}</p>
				<br>
				{% if cur_stage.status == 1 and cur_stage.get_deadline != None %}
					<!-- Active stage -->
					<p><b>Due Date:</b> {{cur_stage.get_deadline}}</p>
				{% elif cur_stage.status == 0 and cur_stage.end_date != None %}
					<!-- Past stage -->
					<p><b>Completed On:</b> {{cur_stage.end_date}}</p>
				{% endif %}
			</div>

			<div class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar" role="navigation">

				{% if cur_stage.is_overdue %}
					<span class="label label-danger" style="float:right; font-size:15px">Overdue!</span>
				{% elif cur_stage.status = 0 %}
					<span class="label label-default" style="float:right; font-size:15px">Done</span>
				{% elif cur_stage.status = 1 %}
					<span class="label label-success" style="float:right; font-size:15px">Active</span>
				{% elif cur_stage.status = 2 %}
					<span class="label label-info" style="float:right; font-size:15px">Future</span>
				{% endif %}

				{% if cur_stage.group_stage.stage.instructions != None %}
					<p><b>Instructions</b></p>
					<p>{{cur_stage.group_stage.stage.instructions}}</p>
					<br><br>
				{% endif %}
				<center>
				{% if cur_stage.status > 1 %}
					<!-- Future stage -->
					<button type="button" class="btn btn-lg btn-default" disabled>Future stage</button>
				{% elif cur_stage.status == 1 %}
					<!-- Active stage -->
					{% if cur_stage.is_available %}
						<a href="/studies/{{study.api_name}}/{{cur_stage.group_stage.stage.url}}/" class="btn btn-lg btn-success">Click to start session</a>
					{% else %}
						<p>Please wait until:</p>
						<button type="button" class="btn btn-lg btn-default" disabled>{{ cur_stage.available }}</button>
					{% endif %}
				{% else %}
					<!-- Past stage -->
					<button type="button" class="btn btn-lg btn-default" disabled>Completed stage</button>
				{% endif %}
				</center>
			</div>

		</div>

	</div>

</div>



{% endblock %}