{% load staticfiles %}

<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Technologies for Aging Gracefully Lab">
	<link rel="icon" href="../../favicon.ico">
	
	<title>{% block title %}{% endblock %}</title>
	
	<!-- Bootstrap core CSS -->
	<link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
	
	<!-- Bootstrap theme -->
	<link href="{% static 'dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" media="screen">
	<link rel="stylesheet" type="text/css" href="{% static "css/tabs.css" %}" media="screen">
	
		<!-- Preventing going back hack from http://stackoverflow.com/questions/19926641/how-to-disable-back-button-in-browser-using-javascript 

		Also, obtain CRSF cookie.		
	-->
	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script>
	function preventBack(){window.history.forward();}
	setTimeout("preventBack()", 0);
	window.onunload=function(){null};
	
	function submit() {
		$("#submit_form").submit();
	}
	</script>
	<!-- Pages can import new stylesheets / scripts here -->
	{% block head %}{% endblock %}
</head>

<body>

	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				
				<div class="navbar-brand">
					<img src="{% static 'img/tangra_logo.png' %}" width="110px" height="30px" style="margin-top:-3px">
				</div>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	
	<div class="container">
		{% block content %}{% endblock %}
	</div>
	
	{% block form %} 
	<form action="submit/" method="post" id="submit_form">
		{% csrf_token %}
	</form>
	{% endblock %}

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
		<!--script src="../../assets/js/docs.min.js"></script-->
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<!--script src="../../assets/js/ie10-viewport-bug-workaround.js"></script-->

	</body>
	</html>